*{margin:0;padding: 0;box-sizing: border-box;}
		body{
			font-size:16px;
			color:rgba(0,0,0,0.7);
			font-family: sans-serif;
		}
		.d-flex{display: flex;}
		.justify-content-around{justify-content: space-around;}
		.justify-content-between{justify-content: space-between;}
		.flex-wrap{flex-wrap: wrap;}
		.align-items-center{align-items: center}
		.bgOrange{background: orange;}
		button:hover{cursor: pointer;}

		#app{
			background: rgba(0,0,0,0.1);
			
		}
		#app h2{padding-left:25px;padding-top: 25px;margin-bottom:-10px;}
		#app>.light{
			min-height: 100vh;
			display: grid;
			grid-template-rows:40vh auto;
			grid-template-columns:40vh auto;
			grid-gap:1.5em;
			padding: 1.5em;
		}
		#app .light>div{
			background: white;
			border-radius: 5px;
			padding:10px;
		}
		#app .products{
			grid-column:1/3;
		}

		
		.formdiv p{
			display: flex;
			justify-content:space-between;
			margin-bottom: 10px;
		}
		.formdiv input[type='text']{
			width:80%;
			font-size:16px;
			border:none;
			background: rgba(0,0,0,0.1);
			padding:5px;
		}
		.formdiv p>button{
			padding:5px;
			border:none;
		}
		.formdiv p>button:hover{
			background: green;
			color:white;
		}
		.formdiv .imgdiv>img{
			margin-top: 3px;
			margin-right: 3px;
			margin-bottom: 3px;
			width:80px;height:80px;
			border-radius: 4px;
			/*border:2px solid white;*/
			border-width: 2px;
			border-style:solid;
			border-color:white;
		}
		.formdiv .imgdiv>img:hover{
			border-color:#10ADAD;
		}
		

		.table{
			overflow-y: scroll;
		}
		table{
			box-shadow:  0 0 2px grey;
			width: 100%;
			border-radius: 5px;
			overflow: hidden;
			border-spacing: 0;
			border-collapse:collapse;
		}
		table th,table td{
			padding:10px;
		}
		table tbody tr:nth-child(even){
			background: rgba(0,0,0,0.1);
		}
		table>thead{
			text-align:left;
			background: #5a6575;
			color:white;
			font-weight:normal;
		}
		table button,.formdiv .add,.formdiv .cancel{
			padding:4px 8px;
			color:white;
			border-radius: 5px;
			border:none;
			font-size:16px;
		}
		table .ed,.formdiv .add,table th>button{
			background:#148c16;
		}
		table .del,.formdiv .cancel{
			background:#c43316;
		}


		/*.products p>button{
			padding:10px 17px;
			color:white;
			border-radius:30px;
			font-size:16px;
			background:black;
			border:none; 
		}*/
		.products h3>span{
			position: relative;
		}
		.products h3>span:after{
			position: absolute;
			left: 0;
			bottom:-10;			
			content: '';
			width: 100%;
			height: 3px;
			background: #10ADAD;
		}
		.products .items{
			display: flex;
			flex-wrap: wrap;
			margin-top:1.5em;
			overflow: hidden;

		}
		.products .items>div{
			box-shadow: 0 0 7px grey;
			overflow: hidden;
			width: 180px;
			border-radius:5px; 
			margin-bottom: 1.5em;
			margin-right: 10px;
			position: relative;
		}
		.products .items>div>.orange{
			position: absolute;
			right:5px;
			top:5px;
			background:orange;
			border:3px solid white;
			padding:4px;
			border-radius: 10px;

		}
		.products .items>div>.orange:hover{cursor: pointer;}
		.products .items>div img{
			width:100%;
			height: 180px;
		}
		.products .items p{padding:5px;}
		.products .items p>span:first-child{
			display: flex;
			justify-content: space-between;
		}
		.products .iname{font-weight: bold;font-size:18px;}
		.products .items button{
			background:#148c16;
			padding:5px 10px;
			color:white;
			font-size: 14px;
			font-weight: bold;
			border-radius:5px;
			border:none;
		}


@media(max-width:992px) {
	#app>.light{
			display:flex;
			flex-direction: column;
			justify-content: space-around;

		}
	#app>.light>div{margin-bottom: 1em;}
}