<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	 <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
	 <link rel="stylesheet" href="./css/a.css">
	<style>
		
	</style>

	<div id="app">
		<h2>{{heading}}</h2>
		<!-- <div class="notification">
			5 elements succesfully deleted
		</div>
		<div class="myalert">
			Are you sure to delete?
			<br>
			<button>yes</button>
			<button>No</button>
		</div> -->
	<div class="light">
		<div class="formdiv">
			<p>
				<span>Name</span><input type="text"  value="" v-model="forminfo.name" placeholder="Enter Name">	
			</p>
			<p>
				<span>Price</span><input type="text" value="" v-model="forminfo.price" placeholder="Enter Price">
			</p>
			<p>
			<span>Rating</span>
			<button v-for="i in 5" @click="fromRating(i)">{{i}}/5</button>
			<br>
			</p>
			<!-- <input type="file" name="myimage"> -->
			<div class="imgdiv ">
			<!-- 	<img src="./images/girl.jpg" alt="">
				<img src="./images/joker.jpg" alt="">
				<img src="./images/sword.jpg" alt="">
 -->				
				<img v-for="i in images" @click="imageSelect(i)" :src="i" alt="">

			</div>
			<button class="add">
				<span  @click="add" v-if="forminfo.showadd">Add</span>
				<span  @click="update" v-else>update</span>
			</button>
			<button class="cancel" @click="cancel">Cancel</button>
		</div>	

		<div class="table">
			<table>
			<thead>
				<tr>
					<th>S.N</th>
					<th>Name</th>
					<th>Price</th>
					<th>Rating</th>
					<th>Image path</th>
					<th colspan="2">Action &nbsp;&nbsp;&nbsp;
						<button><b>Total</b> = {{info.length}} <b>List</b></button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(data,ind) in info">
					<td>{{ind+1}}</td>
					<td>{{data.name}}</td>
					<td>${{data.price}}</td>
					<td>{{data.rating}}/5</td>
					<td>{{data.imgpath}}</td>
					<td><button class="ed" @click="edit(data,ind)">Edit</button></td>
					<td><button class="del" @click="del(ind)">Delete</button></td>
				</tr>
			</tbody>
			</table>
		</div>

		<div class="products">
			<!-- <p>
				<button>All</button>
				<button>Foods</button>
				<button>Cars</button>
				<button>Clothes</button>
			</p> -->
			<h3><span>Your Orders</span></h3>
			<div class="items">
				<div v-for="(data,ind) in info">
				<span class="orange"></span>
					<img :src="data.imgpath" alt="">
					<p>
						<span>
							<span class="iname">{{data.name}}</span>
							<button>${{data.price}}</button>
						</span>
						<!-- <br>
						<span>Rating</span>
						<span>----</span> -->
					</p>
				</div>

			</div>

		</div>
	</div>
	</div>

	<script src="./node_modules/axios/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script>
		const app=new Vue({
			data:{
				heading:"Welcome to Crud Basic",
				images:['./images/joker.jpg','./images/girl.jpg','./images/sword.jpg'],
				forminfo:{
					name:'',price:'',rating:1,imgpath:"../images/girl.jpg",showadd:true,index:0
				},
				ratingon:{
					bgOrange:false
				},
				info:[
					{name:"sumit",price:600,rating:4,imgpath:'./images/girl.jpg'},
					{name:"sumitra",price:600,rating:4,imgpath:'./images/sword.jpg'},
					{name:"sumitsdsd",price:600,rating:4,imgpath:'./images/joker.jpg'},
					{name:"sumitsdddds",price:600,rating:4,imgpath:'./images/joker.jpg'},
				]
			},
			methods:{
				fromRating(i){
					this.forminfo.rating=i;
				},
				imageSelect(i){
					this.forminfo.imgpath=i;
				},
				add(){
					var x;
					x={
						name:this.forminfo.name,
						price:this.forminfo.price,
						rating:this.forminfo.rating,
						imgpath:this.forminfo.imgpath
					}
					this.info.push(x)
					this.ratingon.bgOrange=false;
					this.cancel();
				},
				del(x){
					this.info.splice(x,1);
				},
				edit(data,ind){
					this.forminfo.name=data.name;
					this.forminfo.price=data.price;
					this.forminfo.rating=data.rating;
					this.forminfo.imgpath=data.imgpath;
					this.forminfo.showadd=false;
					this.forminfo.index=ind;
				},
				update(){
					var x;
					x={
						name:this.forminfo.name,
						price:this.forminfo.price,
						rating:this.forminfo.rating,
						imgpath:this.forminfo.imgpath
					}
					this.info.splice(this.forminfo.index,1,x);
					this.forminfo.showadd=true;
					this.cancel();

				},
				cancel(){
					this.forminfo.name="";
					this.forminfo.price="";
				}
			}

		})
		app.$mount('#app');
	</script>


</body>
</html>