<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>food</title>
	<link rel="stylesheet" href="./moviesjoy.css">
	<link rel="stylesheet" href="./tools/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./tools/vuetify/dist/vuetify.min.css">
</head>
<body>
	<section id="app">
		<v-app>
			<navbar @sidebar="sidebar"></navbar>

				<div class="sidenav_black" :class="zbar">
				<div class="sidebar text-capitalize white--text" :class="mbar">
							<h3 class="mb-5">
								<span @click="sidebar()"><span class="fa fa-envelope"></span> close menu </span>
							</h3>
							<ul class="firstList">
								<li class="navLink">Home</li>
								<li class="navLink">
								<span>genre</span>&nbsp;&nbsp;&nbsp;<span :class="icon1" @click="show(true)"></span>
									<ul class="d-flex flex-wrap" :class="gExpand">
										<li>horror</li>
										<li>fantasy</li>
										<li>abc</li>
										<li>def</li>
										<li>ghi</li>
										<li>abcmon</li>
										<li>desdgf</li>
										<li>ghisdggg</li>
										<li>horror</li>
										<li>fantasy</li>
										<li>abc</li>
										<li>def</li>
										<li>ghi</li>
									</ul>
								</li>
								<li class="navLink">
									<span>country</span>
									<span :class="icon2" @click="show()"></span>
									<ul class="d-flex flex-wrap" :class="cExpand">
										<li>usa</li>
										<li>nepal</li>
										<li>india</li>
										<li>def</li>
										<li>ghi</li>
										<li>abcmon</li>
										<li>desdgf</li>
										<li>ghisdggg</li>

										<li>horror</li>
										<li>abcmon</li>
										<li>desdgf</li>
										<li>ghisdggg</li>
									</ul>
								</li>
								<li class="navLink ">movies</li>
								<li class="navLink ">tv shows</li>
								<li class="navLink ">top imbd</li>
							</ul>
						</div>
					</div>

			<login></login>
			<show_on_home></show_on_home>
			<v-content class="contentBg">
					<router-view></router-view>
			</v-content>
			<copyright></copyright>

		</v-app>
	</section>
	<script src="./tools/axios/dist/axios.min.js"></script>
	<script src="./tools/vue/dist/vue.min.js"></script>
	<script src="./tools/vuetify/dist/vuetify.min.js"></script>
	<script src="./tools/vuex/dist/vuex.min.js"></script>
	<script src="./tools/vue-router/dist/vue-router.min.js"></script>
	<script>

		const navbar=Vue.component('navbar',{
			template:`
				<v-content class="navbar" >
				<v-container class="white--text pa-2">
					<v-row class="justify-space-between px-2">
						<v-col md="2" sm="4"  class="order-1 order-md-0">
							<h2><img width="35px" height="35px" src="./images/logo.png" alt="">&nbsp;
								<span @click="toHome()">MoviesJoy</span>
							</h2>
						</v-col>	
						<v-col md="8" cols="2" class="text-capitalize  text-center ma-0 ">
							<span class="fa fa-bars fa-2x d-inline-block d-md-none" @click="showSideBar()">
							</span>
							<ul class="d-none d-md-block ">
								<li class="navLink" v-on:click='toHome()'>Home</li>
								<li class="navLink sublist">genre
									<ul>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
									</ul>
								</li>
								<li class="navLink sublist">country
									<ul>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
										<li>comedy</li>
									</ul>
								</li>
								<li class="navLink">movies</li>
								<li class="navLink">tv shows</li>
								<li class="navLink">top imbd</li>
								<li class="navLink">
									<span v-if="$route.path!='/'" class="navSearch fa fa-search"></span>
									<input v-if="$route.path!='/'" name="" value="" placeholder="Search">
								</li>
							</ul>
						</v-col>

						<v-col class="order-last" cols="1" md="2" >
							<div class="login white text-center" @click="openLogin()">
								<span class="fa fa-user fa-2x"></span> <span class="d-md-inline d-none">Login / SignUp</span>
							</div>
						</v-col>
					</v-row>
				</v-container>	
			</v-content>
			`,
			data(){
				return{
					abc:{
						zIndex:'',
						left:''
					}
				}
			},
			methods:{
				toHome(){
					this.$router.push({path:'/'});
				},
				showSideBar(){
					this.$emit('sidebar',true);
				},
				openLogin(){
					this.$store.state.change_zi.trandelay=false;
					this.$store.state.change_zi.dzi=true;
					this.$store.state.change_move.trandelay=true;
					this.$store.state.change_move.movedown=true;
				}
			}
		});
		const login=Vue.component('login',{
			template:`
				<div class="login_div" :class="$store.state.change_zi">
				<form class=" pa-10  grey--text" :class="$store.state.change_move">
					<span class="cancel fa fa-times" @click="closeLogin()"></span>
					<h2 class="text-center white--text">
						<span v-if="change==false">Welcome back !</span>
						<span v-else>Create an account</span><br />
						<img src="./images/logo.png" width="50px" height="50px" alt="">
					</h2>
					<div class="input_div">
						<small v-show="change">Enter Name</small><br>
						<input v-show="change" type="text" ref="name" placeholder="enter name" ><br>
					</div>
					<div class="input_div">
						<small>Enter Email</small><br>
						<input type="email" ref="email" placeholder="enter email" ><br>
					</div>
					<div class="input_div">
						<small>Enter Password</small><br>
						<input type="password" ref="pass" placeholder="Enter password" ><br>
					</div>
					<div class="input_div">
						<small v-show="change">Confirm Password</small><br>
						<input v-show="change" ref="repass" type="password"  placeholder="Re-enter password" >
					</div>
					
					<div v-if="change==false">
						<input type="checkbox" name="remember" value="" disabled>
						<span class="white--text"> &nbsp;Remember me</span>
						<span class="float-right">Forgot Password ?</span>
					</div>
					<button type="button" class="mt-5 white--text blue">
						<span v-if="change==false" @click="login()">Login</span>
						<span v-else @click="register()">Register</span>
					</button>
				</form>
				<p class="text-center white--text pa-3" :class="$store.state.change_move">
					<span v-if="change==false">Don't have an account. 
						<span class="orange--text" @click="change=!change">Register</span>
					</span>
					<span v-else>Have an account. 
						<span class="orange--text" class="orange--text "@click="change=!change">Login</span>
					</span>
				</p>
			</div>
			`,
			data(){
				return{
					change:false,
					user_info:{}
					
				}
			},
			methods:{
				closeLogin(){
					this.$store.state.change_zi.dzi=false;
					this.$store.state.change_zi.trandelay=true;
					this.$store.state.change_move.trandelay=false;
					this.$store.state.change_move.movedown=false;
				},
				login(){
					console.log(this.$refs);
				},
				register(){
					console.log(this.$refs);

				}
			}
		})

		const show_on_home=Vue.component('show_on_home',{
			template:`
				<v-content class="showOnHome" v-if="$route.path=='/'">
					<h1 class="text-center white--text mt-5 pa-2">Find Movies, TV shows and more</h1>
					<div class="search_div">
						<span class="fa fa-search black--text"></span>
						<input type="text" placeholder="Search Here" name="" value="">
						<button><span class="fa fa-arrow-right black--text"></span></button>
					</div>
				</v-content>
			`
		});
		const copyright=Vue.component('copyright',{
			template:`
				<div class="copyright white--text pt-5 text-center">
					<p>copyright to all @2020</p>
				</div>
			`
		});

		const main_content=Vue.component('main_content',{
			template:`
				<div>
					<v-container class="white--text">
					<p v-if="$route.path=='/'" class="pt-10 mt-10">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ipsa eligendi magni, dolor rem ducimus nesciunt fugit aspernatur inventore,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad tes sit provident perspiciatis odit, architecto deleniti nesciunt!.
					</p>
					<h3 class="text-uppercase white--text">Trending</h3>
					<v-row >
						<v-col v-for="(d,i) in movieData" :key="i" md="2"  sm="4" cols="6 " @click="movie_detail(d.mid)" >
							<div class="pic_div">
								<img :src="d.image" alt="">
								<div class="play_hover">
									<span class="fa fa-play"></span>
								</div>
								<span class="hd pa-1 black--text white text-uppercase">
									<b>{{d.quality}}</b>
								</span>
							</div>
							<div class="movie_div mt-n1">
								<h4>{{d.name}}</h4>
								<p>
									<small>{{d.ry}}</small>
									<small>.</small>
									<small>{{d.rt}}</small>
									<small>{{d.in_border}}</small>
								</p>
							</div>
						</v-col>
					</v-row>
					</v-container>
					</div>
			`,
			data(){
				return{
					movieData:[
						{
						"mid": 1,
						"name": "sumit",
						"quality": "cam",
						"ry": 2013,
						"rt": 120,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 4,
						"production_id": 3,
						"plot": "first plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 2,
						"name": "anish",
						"quality": "hd",
						"ry": 2019,
						"rt": 100,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "second first plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 3,
						"name": "kiran",
						"quality": "hd",
						"ry": 2020,
						"rt": 200,
						"in_border": "drama",
						"image": "./images/girl.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "third plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 4,
						"name": "rijan",
						"quality": "cam",
						"ry": 2010,
						"rt": 90,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 3,
						"production_id": 3,
						"plot": "fourth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 5,
						"name": "sujan",
						"quality": "cam",
						"ry": 2011,
						"rt": 120,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 3,
						"production_id": 2,
						"plot": "fifth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 6,
						"name": "manish",
						"quality": "hd",
						"ry": 2000,
						"rt": 120,
						"in_border": "drama",
						"image": "./images/sword.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "sixth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 7,
						"name": "siddhant",
						"quality": "hd",
						"ry": 2000,
						"rt": 115,
						"in_border": "movie",
						"image": "./images/girl.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "seventh plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 8,
						"name": "rijan",
						"quality": "cam",
						"ry": 2010,
						"rt": 90,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 3,
						"production_id": 3,
						"plot": "fourth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 9,
						"name": "sujan",
						"quality": "cam",
						"ry": 2011,
						"rt": 120,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 3,
						"production_id": 2,
						"plot": "fifth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 10,
						"name": "manish",
						"quality": "hd",
						"ry": 2000,
						"rt": 120,
						"in_border": "drama",
						"image": "./images/sword.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "sixth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 11,
						"name": "siddhant",
						"quality": "hd",
						"ry": 2000,
						"rt": 115,
						"in_border": "movie",
						"image": "./images/girl.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "seventh plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						

						{
						"mid": 3,
						"name": "kiran",
						"quality": "hd",
						"ry": 2020,
						"rt": 200,
						"in_border": "drama",
						"image": "./images/girl.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "third plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 4,
						"name": "rijan",
						"quality": "cam",
						"ry": 2010,
						"rt": 90,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 3,
						"production_id": 3,
						"plot": "fourth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 5,
						"name": "sujan",
						"quality": "cam",
						"ry": 2011,
						"rt": 120,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 3,
						"production_id": 2,
						"plot": "fifth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 6,
						"name": "manish",
						"quality": "hd",
						"ry": 2000,
						"rt": 120,
						"in_border": "drama",
						"image": "./images/sword.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "sixth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 7,
						"name": "siddhant",
						"quality": "hd",
						"ry": 2000,
						"rt": 115,
						"in_border": "movie",
						"image": "./images/girl.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "seventh plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 8,
						"name": "rijan",
						"quality": "cam",
						"ry": 2010,
						"rt": 90,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 3,
						"production_id": 3,
						"plot": "fourth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 9,
						"name": "sujan",
						"quality": "cam",
						"ry": 2011,
						"rt": 120,
						"in_border": "movie",
						"image": "./images/joker.jpg",
						"country_id": 3,
						"production_id": 2,
						"plot": "fifth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 10,
						"name": "manish",
						"quality": "hd",
						"ry": 2000,
						"rt": 120,
						"in_border": "drama",
						"image": "./images/sword.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "sixth plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						},
						{
						"mid": 1,
						"name": "siddhant",
						"quality": "hd",
						"ry": 2000,
						"rt": 115,
						"in_border": "movie",
						"image": "./images/girl.jpg",
						"country_id": 1,
						"production_id": 2,
						"plot": "seventh plot ,, pariatur repudiandae  sint reiciendis, magni aut, dignissimos distinctio doloribus facere. Ipsum cumque eos error dolore."
						}
					],
				}
			}
			
		});


		const router=new VueRouter({
			routes:[
				{path:'/',component:main_content,
					children:[
						// {path:'movie_detail/:mid',name:"movie_detail",component:movie_detail}
					]
				}
			]
		})

		const store=new Vuex.Store({
			state:{
				x:'sumit',
				change_move:{
					trandelay:false,
					movedown:false,
				},
				change_zi:{
					trandelay:false,
					dzi:false,
				}

			},
			getters:{

			},
			mutations:{},
			actions:{}
		})

		const vuetify=new Vuetify({})

		const app=new Vue({
			vuetify,
			store,
			router,
			el:'#app',
			data:{
				movieData:[],
				zbar:{
					dzi:false,
					trandelay:false
				},
				mbar:{
					moveRight:false,
					trandelay:false,
					soflow:false
				},
				gExpand:{expand:false},
				cExpand:{expand:false},
				icon2:'fa fa-plus',
				icon1:'fa fa-plus',
				sumit:{
						br:false,
						b:true,
						//temporarily
					},
					user_info:{},
					change:false,
					
					n:'',
					e:'',
					p:'',
					r:'',
					name_err:false,
					pass_err:false,
					email_err:false,
					rpass_err:false,
			},
			methods:{
				sidebar(x){
					if(x==true){
					this.mbar.trandelay=x;
					this.mbar.moveRight=x;
					this.zbar.dzi=x;
					this.zbar.trandelay=false;
					}
					else{
					this.mbar.trandelay=false;
					this.mbar.moveRight=false;
					this.zbar.dzi=false;
					this.zbar.trandelay=true;
					this.gExpand.expand=this.cExpand.expand=false;
					this.icon1=this.icon2='fa fa-plus';
					}

				},
				show(x){
					if(x==true){
					this.gExpand.expand=!this.gExpand.expand;
					this.gExpand.expand?this.icon1='fa fa-minus':this.icon1="fa fa-plus";
					}
					else{
					this.cExpand.expand=!this.cExpand.expand;
					this.cExpand.expand?this.icon2='fa fa-minus':this.icon2="fa fa-plus";
					}
					this.forOverflow();
				},
				forOverflow(){
					if(this.cExpand.expand==true || this.gExpand.expand==true){
						this.mbar.soflow=true;
					}
					else{this.mbar.soflow=false;}
				},
				closeLogin(){
					this.$store.state.change_zi.dzi=false;
					this.$store.state.change_zi.trandelay=true;
					this.$store.state.change_move.trandelay=false;
					this.$store.state.change_move.movedown=false;
				},
				clicking(){
					this.user_info.n=this.$refs.name.value;
					this.user_info.e=this.$refs.email.value;
					this.user_info.p=this.$refs.pass.value;
					this.user_info.r=this.$refs.repass.value;

					// this.n=this.$refs.name.value;
					// this.e=this.$refs.email.value;
					// this.p=this.$refs.pass.value;
					// this.r=this.$refs.repass.value;
				},
				login(){
					this.clicking();
				},
				register(){
					this.clicking();
					console.log(this.user_info);
					// axios.post('http://localhost:3000/user_detail',this.user_info)
					// .then(res=>console.log(res.data))
					// .catch(err=>console.log(err))
				}
			}
			


		})
	</script>
</body>
</html>