.container{
	max-width: 1170px !important;
}
.navbar,.copyright{
	background: #031452;
	height:70px;
	position: relative;
}
.navbar .navLink{
	margin-right: 20px;
	display: inline-block;
}
.navbar .navLink:hover,.navbar  h2 span:hover{
	color:orange;
	cursor:pointer;
}
.fa-2x{font-size:1.5em !important;}
.navbar .login{
	color:#031452;
	border-radius: 4px;
	padding:5px 10px ;
	margin-top:4px;
}
.navbar .navSearch{
	margin-right:-30px;
}
.navbar h2 span{
	vertical-align: super;
}
.navbar input{
	background:rgba(245, 239, 239, 0.23);;
	border-radius: 30px;
	padding:6px 6px 6px 35px !important;
}

.sublist{
	position: relative;
	padding-bottom:20px;
}
.sublist:hover ul{
	z-index: 100;
	/*display: block; or */
}	
.sublist>ul{
	position: absolute;
	background:#653e9c;
	width:600px;
	background:;
	padding:12px;
	left:0px;
	top:40px;
	text-align: left;
	z-index:-100;
	/*display: none;*/
}
.sublist>ul li{
	width: 24%;
	padding:5px;
	color:white;
	display: inline-block;
}
.sublist>ul li:hover{
	background: rgba(0,0,0,0.2);
	color:orange;
}


/*login*/
.login_div{
	position:absolute;
	top:0;
	left: 0;
	z-index: -100 ;
	/*z-index:100;*/
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_div form{
	transform: translateY(-700px) ;
	/*transform: translateY(0px) ;*/
	transition: 0.3s;
	margin-top:10vh;
	background: #6442ad;
	min-width:500px;
	min-height: 450px;
	position: relative;
}
.login_div form .cancel{
	position: absolute;
	right: -5px;
	top:-5px;
	padding:5px;
	color:white;
	font-size: 1.3em;
	background:grey;
}
.login_div form .cancel:hover{
	background: black;
	cursor: pointer;
}
.login_div button{
	width: 100%;
	padding:10px;
	border-radius: 5px;
}
.login_div .input_div>input{
	background: white;
	padding:7px;
	width: 100%;
	color:black !important;
}
.login_div .input_div>span{
	color:white;
	width: 100%;
	display:block;
}
.login_div p:last-child{
	background:#290b6b;
	min-width: 500px;
	transition: 0.3s;
	/*transform: translateY(0px) ;*/
	transform: translateY(-700px) ;

}
.login_div p>span>span:hover{cursor: pointer;}




.showOnHome{
	background: #031452;
	padding-bottom: 60px !important;
	position: relative;
}
.showOnHome .search_div{
	margin-top: 50px;
	position: absolute;
	top:60px;
	left:12vw;
	font-size: 1.2em;
}
.search_div>span{
	position: absolute;
	top:20px;
	left:20px;
}
.showOnHome .search_div input{
	background: white;
	border-radius:30px;
	padding:15px 50px;
	width: 70vw;
}
.showOnHome .search_div button{
	background:#774db3;
	color:white;
	padding:15px 20px;
	border-radius:40px;
}


.contentBg{
	background:#44406f;
}
.container .col-md-2{
	padding:4px;
}
.container .row .pic_div{
	position: relative;
}
.pic_div:hover{
	cursor:pointer;
}
.pic_div:hover .play_hover{
	z-index: 1;
}
.pic_div>.hd{
	position: absolute;
	z-index: 2;
	right:5px;
	top:5px;
	border-radius:3px;
}
.pic_div>.play_hover{
	position: absolute;
	height: 98%;
	width: 100%;
	background: rgba(0,0,0,0.4);
	top:0px;
	top:0px;
	z-index: -10;
	display: flex;
	justify-content: center;
}
.pic_div .play_hover span {
	height: 70px;
	width: 70px;
	padding:20px 0 0 25px;
	background:#774db3;
	border-radius: 50px;
	margin-top: 2.5em;
	color:black;
	font-size: 2em; 
}
.movie_div p>small:last-child{
	border:1px solid white;
	padding:0 6px 0 6px;
	margin-left: 20%;
	border-radius: 3px;
}
small{
	font-size:90% !important;
}
.container .row .pic_div img{
	height: 275px;
	border-radius: 4px;
	width:100%;
}


/*movie_detail*/
.movie_detail{
	height:100vh;
	width: 100%;
	position: relative;
	background-size:cover; 
}
.movie_detail>.blackLayer{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:1;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6),#44406f,#44406f);
}
.movie_detail .container_div{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:2;
}
.movie_detail h4 + div{
	height: 300px;
}
.movie_detail h4 + div>span{
	width:100px;
	height: 100px;
	border-radius: 50px;
	padding-left:7px;
	padding-top:35px;
	color:black;
	font-size: 2em;
}
.movie_detail .watch_row>div{
	font-size: 1.2em;
	border-radius: 30px;
}
.movie_detail h1{font-size: 2em;}
.movie_detail h2{font-size: 1em;}
.movie_detail h2 button{
	border-radius: 5px;
	margin-right: 35px;
}
.movie_detail h2 button.borderme{
	border:1px solid white;
}
.movie_detail .movie_desc p{
	margin-bottom: 3px;
}

/*sidebar*/
.sidenav_black{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	top:0;
	left:0;
	z-index:-100;
}
.sidenav_black .sidebar{
	width: 300px;
	height: 100vh;
	padding:20px;
	background: rgba(0,0,0,0.8);
	transition: 0.3s;
	transform: translateX(-31vw);
}
.sidebar h3>span{
	padding:7px;
	background: white;
	color:black;
	border-radius: 20px;
}
.sidebar h3 span:hover{
	background:grey;
	color:white;
	cursor:pointer;
}
.sidebar ul {
	list-style: none;
	padding-left:0px !important;
}
.sidebar ul li{
	padding:10px 0px;
}
.sidebar li .fa{
	margin-left: 61%;
	padding:4px;
	color:black;
	background: white;
}
.sidebar>ul>li:after{
	content:'a';
	width: 100%;
	font-size: 1px;
	display: block;
	margin-top: 10px;
	background:grey;

}
.sidebar ul>li>ul li{
	flex-basis:50%;
	font-size:15px;
	color:grey;
}
.sidebar ul>li>ul{
	max-height:0px;
	transition:0.4s;
	overflow:hidden;
}

/*extra*/
.dzi{z-index:100 !important;}
.trandelay{transition-delay:0.6s; }
.movedown{transform: translateY(0px)  !important;}
.moveRight{transform:translateX(0vw) !important;}
.soflow{overflow:scroll !important;}
.expand{max-height: 500px !important;}
