*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background: rgba(0,0,0,0.1);
}
.d-flex{display: flex;}
.align-items-start{align-items: flex-start;}
.align-self-end{align-self: flex-end;}
.justify-content-between{justify-content: space-between;}
.fifty{width:49%}
.list-unstyled{list-style: none;}
.ml-2{margin-left:10px; }
.mt-2{margin-top:10px; }
.mb-2{margin-bottom:10px; }
.p-2{padding:7px;}
.pt-5{padding-top:40px;}
.blue{background: blue;}
.success{background: green;}
.danger{background: red;}
.warning{background:orange;}
.box-shadow{
	border-radius:4px;
	padding:5px;
	box-shadow: 0 0 3px grey;
}
.btn{
	padding:6px 18px;
	color:white; 
	border-radius: 3px;
	font-size: 14px;
	border:none;
	margin-right: 10px;
}
.btn:hover{cursor: pointer;}

p{font-size: 17px;text-align: justify;}

img{width: 100px;height: 100px; border:2px solid yellow;}
input{width: 100%;padding:5px;font-size:15px;}
textarea{width: 100%;font-size:15px; padding: 5px;}

.dashboard{
	max-width: 950px;
	margin:auto;
	font-family: sans-serif;
	padding:10px;
}
.dashboard>div{
	background: white;
	border-radius: 3px;
	padding:10px;
	margin-bottom:20px; 
}

.dashboard .expertise .tabs p>button.btn{margin:0 !important;}
.dashboard .exed ul>li{
	box-shadow: 0 0 3px grey;
	padding:5px;
	margin-bottom: 10px;
	border-radius:4px; 
}
.dashboard .exed ul>li h4{
	font-weight: normal;
	text-transform: capitalize;
}
.dashboard .exed ul>li h4:hover{cursor: pointer;}
.dashboard .exed ul>li p{
	max-height: 0px;
	transition: 0.3s;
	overflow:hidden;;
}
.expandPara{
	max-height:100px !important;
}