*{	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background:linear-gradient(45deg,purple,blue,violet);
	color:#595757;
	font-family: sans-serif;
	font-size:17px;
}
p{font-style: italic;text-align: justify;}
body>div{
	min-height: 100vh;
}
.page_div{
	margin:5vh auto;
	height: 100%;
	width: 60%;
	border:0.8em solid #ad3131;
	padding:0.8em ;
	background: rgb(241,239,240);
	position: relative;

	display: flex;
}
.page_div>div.black_dot{
	position: absolute;
	width:15px;
	height: 15px;
	left:-15px;
	top:-15px;
	background: #211e1e;
}
.page_div>div.black_height{
	position: absolute;
	width:15px;
	height:70%;
	right:-15px;
	bottom:-2px;
	background: #211e1e;
}
.page_div>div.black_width{
    position: absolute;
    width: 70%;
    height: 15px;
    right: -15px;
    bottom: -14px;
    background: #211e1e;
}



.left_div{
	flex-basis:38%;
	padding-top: 2.5em;
	text-align: right;
	display:flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: flex-end;
}
.image_div{
	width: 160px;
	height: 160px;
	border:4px solid #ad3131;
}
.image_div img{
	width: 100%;
	height: 100%;
	margin-left:2em;
	margin-top:-2em;
}
.left_div ul {
	list-style: none;
	font-style: italic;
	margin: 1.3em 0;
	padding:0.8em;
}
.left_div ul h2{font-style: normal;color:#211e1e;}
.left_div ul li{margin-bottom: 10px;}
.about_div h2{
	color:red;
	padding:12px 0;
	text-align: right;
}
.about_div{
	background:#211e1e;
	padding:1em 0.8em;
	color:#ede8e8;
	text-align:justify;
}
.about_div a{color:#3875f8;}




.right_div{
	padding-top:1.5em;
	padding-left:1.5em;
	flex-basis:62%;
}
 .descr{
 	color:#211e1e;
 	display: flex;
 	justify-content: center;
 	padding:1em 0;
}
.descr>div{width: 80%;}
.descr h1{margin-bottom:0.5em;}
 .descr h5 span{
	margin-right: 20px;
	color:#666;
}
.education_div,.experience_div{margin-top:1em;}
.right_div h2{
	color:#211e1e;
	margin-bottom:0.7em;
}
.right_div h3{
	color:#ad3131;
	margin-bottom:0.3em;
}
.rato_div{margin-bottom:0.8em;}


@media(max-width:800px) {
.page_div{
	height: 100%;
	margin:0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.left_div{
	flex-basis:100%;
	padding-top:0em;
	text-align: right;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
}
.image_div{margin-bottom: 1em;}
.image_div img{
	margin-left:0em;
	margin-top:0em;
}
.left_div ul {
	margin:0;
}

 .descr{
 	display: flex;
 	justify-content:flex-start;
}

}