*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.login{
	min-height: 100vh;
	background:#1e529c;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-family:sans-serif;

}
.login>.myform{
	min-height:300px;
	margin-top: 100px;
	width: 400px;
	padding:20px;
	border-radius: 4px;
	border:2px solid white;
	color:white;
}
.login .myform>h2{margin-bottom: 20px;text-align: center;}
.login .myform>p{
    text-align: center;
    font-size: 80px;
    margin-top: -70px;
    margin-bottom: 20px;
}
.login .myform p>span{
	padding:10px 20px ;
	border:2px solid white;
	border-radius: 50%;
	background:#1f4384;
}
.myform input{
	width: 100%;
	padding:5px;
	border-radius: 4px;
	margin-bottom: 20px;
	font-size: 17px;
}
.myform button{
	border:none;
	border-radius: 4px;
	padding:8px 20px;
	font-size: 17px;
	color:white;
}
.myform button:hover{cursor: pointer;}
.myform button.submit{
	background: #001c59;
}
.myform button:last-child{
	background:#761a05;
}

